.post-details-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0.5%;
    justify-content: start;
    align-content: center;
    justify-items: start;
    margin-top: 30px;
    div{
        color: rgb(105, 163, 239);
        word-break:break-all;

        width: 100%;
        position: relative;
        border-top: 1px dotted #bbb;
    }
  }